%h1
  Overview
%p.sub
  The list below shows an overview of the jobs in the delayed_job queue.
%table.overview
  %tr
    %th Status
    %th Count
  %tr
    %td.status
      %a{:href => u('/enqueued')} Enqueued Jobs
    %td= delayed_jobs(:enqueued).count
  %tr
    %td.status
      %a{:href => u('/working')} Working Jobs
    %td= delayed_jobs(:working).count
  %tr
    %td.status
      %a{:href => u('/scheduled')} Scheduled Jobs
    %td= delayed_jobs(:scheduled).count
  %tr{:class => delayed_jobs(:failed).count > 0 ? 'failure' : ''}
    %td.status
      %a{:href => u('/failed')} Failed Jobs
    %td= delayed_jobs(:failed).count
  %tr{:class => delayed_jobs(:api).count > 0 ? 'api' : ''}
    %td.status
      %a{:href => u('/api')} API Jobs
    %td= delayed_jobs(:api).count
  %tr{:class => delayed_jobs(:sync).count > 0 ? 'sync' : ''}
    %td.status
      %a{:href => u('/sync')} Sync Jobs
    %td= delayed_jobs(:sync).count
  %tr{:class => delayed_jobs(:syncurgent).count > 0 ? 'syncurgent' : ''}
    %td.status
      %a{:href => u('/syncurgent')} Sync Urgent Jobs
    %td= delayed_jobs(:syncurgent).count
= poll
